@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@200&family=Rubik+Vinyl&family=Sofia+Sans+Condensed&family=Yeon+Sung&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://images.unsplash.com/photo-1504904126298-3fde501c9b31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    /* background-size: 1920px 1020px; */
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.btn {
    background-color: #333;
    color: #fff;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: bold;
    border: 5px dashed #fff;
    padding: 1.2rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    /* text-shadow: 6px 6px 10px rgb(0, 0, 5); */
    box-shadow: 6px 6px 10px rgb(0, 0, 5);
    margin: 4rem auto;
    cursor: pointer;
}

.btn:hover {
    background-color: #af2739;
    /* opacity: 10; */
    border-color: transparent;
    text-shadow: none;
}